{{#> webLayoutHtmlEn }}
    <p>Hello {{../fullName}},</p>
    <p></p>
    <p>It looks like you’ve tried to sign in with an email you already have an account with. Please log in with this email address.</p>
    <p></p>
    <p>Forgot password? Click this <a href='{{ ../link }}'>link</a> to reset you password.</p>

    <p>With best regards,</p>
    <p>{{ clientName }}</p>
{{/webLayoutHtmlEn}}
