{{#> webLayoutHtmlEn }}
    <p>Hello {{name}},</p>
    <p>Welcome to {{ projectName }}! We're happy to have you on our platform.</p>

    <p>Please confirm your account by clicking the following link: <a href='{{ link }}'>Verify Account</a></p>

{{/webLayoutHtmlEn}}
