{{#> webLayoutHtmlEn }}
    <p>Hello {{ name }},</p>
    <p>Please reset your password by clicking the following link: <a href='{{ resetUrl }}'>reset password</a></p>
    <p>If you didn't initiate this request, please contact us</p>

{{/webLayoutHtmlEn}}
