{{#> webLayoutHtmlEn }}
    <p>Hello {{../fullName}},</p>
    <p>Your request to delete your account was confirmed, your account has been deleted.</p>
    <p>If you didn't request to delete your account, please contact us as fast as possible.</p>

    <p>With best regards,</p>
    <p>{{ clientName }}</p>
{{/webLayoutHtmlEn}}
