{{#> webLayoutHtmlEn }}
    <p>Hello {{ ../fullName }},</p>
    <p>We got your request to delete your account. Follow this <a href='{{ ../link }}'>delete account</a> link to confirm your request.</p>
    <p>If you didn't want to delete your account, please ignore this email. If you still receiving unwanted delete accounts emails, please contact us</p>

    <p>With best regards,</p>
    <p>{{ clientName }}</p>
{{/webLayoutHtmlEn}}
