{{#> webLayoutHtmlEn }}
    <p>Hi {{../fullName}},</p>
    <p></p>
    <p>Follow the <a href="{{ ../link }}">link</a> to change your email</p>

    <p>With best regards,</p>
    <p>{{ clientName }}</p>
{{/webLayoutHtmlEn}}
